. {
    padding: 0;
    margin: 0;
}
.nav {
    width: 100% !important;
    display: flex;
    font-size: 25px;
}
.navbar {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    /*box-shadow:0px 0px 15px 0 rgba(0,0,0,80%);*/
}
.nav-item {
    padding: 5px !important;
    font-weight: 600 !important;
    border-right: none !important;
    color: white;
}
.nav-item:hover {
    background-color: #ccc4c4 !important;
    border-radius: 5px !important;
    text-decoration: none;
    color: black;
}
.nav-url {
    width: 70%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.nav-icon {
    width: 30%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}